<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control">
          <span class="form-checks"
                *ngIf="!firstNameControl.valid && firstNameControl.errors && firstNameControl.touched">
            <span class="invalid" *ngIf="firstNameControl.hasError('required')">
              <i class="material-icons">cancel</i>
              Please enter your first name
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="lastName">Last name</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form-control">
          <span class="form-checks" *ngIf="!lastNameControl.valid && lastNameControl.errors && lastNameControl.touched">
            <span class="invalid" *ngIf="lastNameControl.hasError('required')">
              <i class="material-icons">cancel</i>
              Please enter your last name
            </span>
        </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control">
          <span class="form-checks" *ngIf="!emailControl.valid && emailControl.touched">
              <span class="invalid" *ngIf="emailControl.hasError('required')">
                <i class="material-icons">cancel</i>
                Please enter your e-mail address
              </span>
              <span class="invalid" *ngIf="emailControl.hasError('email')">
                <i class="material-icons">cancel</i>
                Please enter a valid e-mail address
              </span>
              <span class="pending" *ngIf="emailControl.pending">
                <i class="material-icons">pending</i>
                checking...
              </span>
              <span class="invalid" *ngIf="emailControl.hasError('emailExists')">
                <i class="material-icons">cancel</i>
                This e-mail address is already registered. Would you like to <a href="#">log in</a> instead?
              </span>
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control">
          <div class="form-checks invalid" *ngIf="passwordControl.touched && passwordControl.hasError('required')">
            <i class="material-icons">cancel</i>
            Please enter a password
          </div>
          <div class="form-checks"
               *ngIf="passwordControl.touched && !passwordControl.hasError('required') && (passwordControl.errors || signupForm.errors)">
            <div [ngClass]="{invalid: passwordControl.hasError('minlength')}">
              <i class="material-icons">
                {{ passwordControl.hasError('minlength') ? 'cancel' : 'check_circle' }}
              </i>
              Your password should contain at least 8 characters
            </div>
            <div [ngClass]="{invalid: passwordControl.hasError('pattern')}">
              <i class="material-icons">
                {{ passwordControl.hasError('pattern') ? 'cancel' : 'check_circle' }}
              </i>
              Your password should contain both lowercase and uppercase characters
            </div>
            <div [ngClass]="{invalid: signupForm.hasError('cannotContain-firstName')}">
              <i class="material-icons">
                {{ signupForm.hasError('cannotContain-firstName') ? 'cancel' : 'check_circle' }}
              </i>
              Your password cannot contain your first name
            </div>
            <div [ngClass]="{invalid: signupForm.hasError('cannotContain-lastName')}">
              <i class="material-icons">
                {{ signupForm.hasError('cannotContain-lastName') ? 'cancel' : 'check_circle' }}
              </i>
              Your password cannot contain your last name
            </div>
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="!signupForm.valid" type="submit">Submit</button>
      </form>
      <div class="result" *ngIf="result">
        <div class="title">
          {{result.title}}
        </div>
        <div>
          Thank you for reviewing this.
          I was going to make some actual feedback here, toasts, a11y, animations...
          protractor tests...
          even a Halloween skin toggle...
          but i really have to get some sleep.
        </div>
        <div class="user">
          {{result.user|json}}
        </div>
      </div>
    </div>
  </div>
</div>
